<section id="react-app">{{{ markup }}}}</section>
<script id="initial-state" type="application/json">
	{{{ state }}}
</script>

{{!-- The state here is the current state - the React components pull from this state --}}